body {
    background: #f5d0d0;
}

img {
    width: 95%;
    height: 95%;
    border-radius: 10px;
    margin: 20px 5px 0 15px;
}

.body {
    width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    margin: 60px 350px 60px 350px;
    line-height: 1.5;
}

.text {
    margin-left: 10px;
}

h1, h3 {
    font-family: young serif;
}

h3 {
    color: rgb(155, 72, 72);
}

h4 {
    font-family: Outfit;
    font-size: 17px;
    margin-top: 10px;
    margin-left: 10px;
    color: rgba(141, 22, 22, 0.877);
}

p {
    line-height: 1.5;
    font-family: Outfit Regular;
    font-size: 15px;
    color: #757575;
}

.preparation {
    background: #fdf4f4;
    padding: 15px;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 15px;
}

li p {
    margin-left: 15px;
    line-height: 1.5;
}

table {
    font-size: 15px;
    border-spacing: 7px;
}

b, ol, th {
    font-family: Outfit ExtraBold;
}

ul, ol, th {
    color: rgba(141, 22, 22, 0.877);
}

ol {
    line-height: 1;
}
hr {
    border-top: 1 px solid #a8a8a8;
}

tr [colspan] {
    border-bottom: 1px solid #a8a8a8;
}

tr {
    color: #757575;
}

th, td {
    width: 400px;
}

td {
    font-family: Outfit Regular;
    padding-left: 30px;
}

th {
    padding-right: 80px;
}